.search {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-content {
  max-width: 1140px;
  margin-top: 70px;
  border-radius: 9px;
  background: #2F2F2F;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
}

.search-content__form {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 10px;
}

.search-content__input {
  width: 100%;
  outline: none;
  padding: 26px 0 26px 63px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
  min-width: 419px;
}

.search-content__input:focus {
  border: 1px solid #4286f486;
  border-radius: 10px;
}

.search-content__input::placeholder {
  color: #8b8b8b;
}

.search-content__button {
  border: none;
  color: #FFF;
  text-align: center;
  width: 60px;
  height: 34px;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border-radius: 48px;
  background: #4285F4;
  transition: opacity 0.3s ease;
}

.search-content__button:hover {
  opacity: 0.8;
}

.search-content__form::before {
  content: "";
  width: 34px;
  height: 34px;
  background-image: url("../../images/find-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 34px 34px;
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  box-sizing: border-box;
}

.search-content__grey-line {
  width: 1px;
  height: 40px;
  flex-shrink: 0;
  background-color: #424242;
  margin: 0 30px 0 20px;
}

.search__bottom-line {
  max-width: 1140px;
  width: 100%;
  height: 1px;
  background: #424242;
  margin-top: 69px;
}

@media screen and (max-width: 1200px) {

  .search-content,
  .search__bottom-line {
    max-width: calc(100% - 60px);
  }
}


@media screen and (max-width: 800px) {
  .search-content {
    margin-top: 80px;
  }

  .search__bottom-line {
    margin-top: 109px;
  }

  .search-content__form {
    margin-right: 0;
  }

  .search-content__grey-line {
    margin: 0 20px 0 20px;
  }

}

@media screen and (max-width: 765px) {

  .search-content__button {
    margin: 0 20px 0 20px;
  }

  .search-content__form::before {
    display: none;
  }

  .search-content__grey-line {
    display: none;
  }

  .search-content {
    flex-direction: column;
    background: transparent;
    border: none;
  }

  .search-content__input {
    padding: 26px 0 26px 19px;
    min-width: 200px;
  }

  .search-content__form {
    background: #2F2F2F;
    border-radius: 9px;
    margin: 0;
  }


}

@media screen and (max-width: 430px) {

  .search-content,
  .search__bottom-line {
    max-width: calc(100% - 20px);
  }
}